@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1><span class="pink medium65">CHANGE</span><span class="pink Heavy85"> THE PASSWORD</span></h1>
        </div>
        <div class="col-sm-6">

            <div class="yellow text-shadow">
                <i class="glyphicon glyphicon-lock icon-giant"></i>
                <h2>To continue changing the password, please fill out the form.</h2>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1 bgwoodpurple">
            <div class="row">
                <div class="header-woodpurple">
                    <h4>enter your new pass</h4>
                </div>
            </div>
            <form method="post" id="loginform">
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" />
                </div>
                <div class="actionlogin">
                    <a href="#" class="forget"><strong>Forgot the password?</strong></a>
                    <button type="button" class="btn btn-success pull-right">CONFIRM</button>
                    <div class="clearfix"><br /></div>
                </div>
            </form>
        </div>
    </div>
</div>
