<table width="600" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto">
    <tr>
        <td>
            <img src="%ImagemHeadEmail%" style="display: block; border: 0;" />
        </td>
    </tr>
    <tr>
        <td>
            <p><strong style="color: #b9d047; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 20px;">Hello %NAME% %LASTNAME%,</strong></p>
            <strong style="color: #612977; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 17px;">
                Thank you for your purchase.<br /> Your invoice will be processed through Paypal.
            </strong>
            <p style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
                Here is the break down of your order:
            </p>
            <table id="cart" class="table responsive dt-responsive no-footer dtr-inline dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="cart_info" style="width: 100%; border: 1px solid #CCC">
                <thead>
                    <tr role="row">
                        <th style="border-bottom: 1px solid #CCC; color: #000">Product</th>
                        <th style="border-bottom: 1px solid #CCC; color: #000">Amount</th>
                        <th style="border-bottom: 1px solid #CCC; color: #000">Price</th>
                        <th style="border-bottom: 1px solid #CCC; color: #000">Total</th>
                    </tr>
                </thead>

				<tbody>
                    <tr role="row" class="odd">
                        <td style="border-bottom: 1px solid #CCC; color: #666">Large Bucket Açai 22 oz Sorbet with guarana</td>
                        <td style="border-bottom: 1px solid #CCC; color: #666">25</td>
                        <td style="border-bottom: 1px solid #CCC; color: #666"> $ 85.00</td>
                        <td style="border-bottom: 1px solid #CCC; color: #666"> $ 2,125.00</td>
                    </tr>
                    <tr role="row" class="even">
                        <td style="border-bottom: 1px solid #CCC; color: #666">Mixed 200g Pulps 22 oz Açaí with Guarana</td>
                        <td style="border-bottom: 1px solid #CCC; color: #666">10</td>
                        <td style="border-bottom: 1px solid #CCC; color: #666"> $ 75.00</td>
                        <td style="border-bottom: 1px solid #CCC; color: #666"> $ 750.00</td>
                    </tr>
                    <tr role="row" class="odd">
                        <td style="border-bottom: 1px solid #CCC; color: #666">Pint Cups 500g 13.2 oz Acai Sorbet with guarana</td>
                        <td style="border-bottom: 1px solid #CCC; color: #666">12</td>
                        <td style="border-bottom: 1px solid #CCC; color: #666"> $ 67.00</td>
                        <td style="border-bottom: 1px solid #CCC; color: #666"> $ 804.00</td>
                    </tr>
                    <tr role="row" class="even">
                        <td style="border-bottom: 1px solid #CCC; color: #666">Small Bucket Açaí 13.2 oz Sorbet with Guarana</td>
                        <td style="border-bottom: 1px solid #CCC; color: #666">35</td>
                        <td style="border-bottom: 1px solid #CCC; color: #666"> $ 75.00</td>
                        <td style="border-bottom: 1px solid #CCC; color: #666"> $ 2,625.00</td>
                    </tr>
                </tbody>
            </table>
            <p style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px;">Please contact us, in case you need any help.</p>
        </td>
    </tr>
    <tr>
        <td>
            <img src="%ImagemFooterEmail%" style="display: block; border: 0;" />
        </td>
    </tr>
</table>