@{
    ViewBag.Title = "Overview";
}

        <div class="row">
          <div class="col-lg-12">
            <h1>Recipes <small> Overview</small></h1>
            <ol class="breadcrumb">
              <li class="active"><i class="fa fa-cutlery"></i> Events</li><li class="active">Overview</li>
            </ol>
            @*<div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Welcome to SB Admin by <a class="alert-link" href="http://startbootstrap.com">Start Bootstrap</a>! Feel free to use this template for your admin needs! We are using a few different plugins to handle the dynamic tables and charts, so make sure you check out the necessary documentation links provided.
            </div>*@
          </div>
        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> Posts <a data-toggle="modal"  class="btn btn-warning pull-right" href="javascript:void(0)"> <i class="fa fa-calendar"></i> Add New Event</a> <div class="clearfix"></div></h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table id="posts" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>ID #</th>
                        <th>Title</th>
                        <th>Autor</th>
                        <th>Date</th>
                        <th align="center">status</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade custommodal EventsModal" tabindex="-1" role="dialog" aria-labelledby="EventsModal" data-backdrop="static" data-keyboard="false" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" onclick="closeModal();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Recipes</h4>
                    </div>
                    <div class="modal-body">
                        <form id="AddPost" action="@Url.Action("NewPost", "News")" method="post" onsubmit="return false;">
                             @{Html.RenderPartial("Error");}
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <label>Title</label>
                                                        <input id="title" name="title" type="text" class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.row -->

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <label class="">Introduction</label>
                                                        <textarea class="form-control" id="introduction" name="introduction"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="">Image</label>
                                                        <div id="imageUpload"></div>
                                                        <div id="load"></div>
                                                        <div id="teste"><input id="imagepost" name="imagepost" type="file" multiple="true" data-preview-file-type="any" /></div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div><!-- /.row -->
                                </div>

                                @*</div>*@

                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-9 col-xs-9">
                                                    <div class="form-group">
                                                        <label><strong> <i class='glyphicon glyphicon-tags small'></i> Tag's</strong></label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon">#</div>
                                                            <input class="form-control" placeholder="Enter tag" id="tagname" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-xs-3">
                                                    <label>&nbsp;</label>
                                                    <a href="#" id="addtag" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                                                </div>
                                            </div><!-- /.row -->
                                            <div class="row">
                                                <div class="col-lg-12" id="tags">
                                                    <input id="taglist" type="hidden" />
                                                </div>
                                            </div><!-- /.row -->
                                        </div><!-- /.row -->
                                    </div><!-- /.row -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="summernote"></div>
                                </div>
                            </div><!-- /.row -->
                            <div class="clear"><br /></div>
                            <div class="row">
                                <div class="col-lg-2 pull-right">
                                    <button class="btn btn-primary form-control" id="Published"><i class="fa fa-user"></i> PUBLISH</button>
                                </div>
                                <div class="col-lg-2 pull-right">
                                    <button class="btn btn-success form-control" id="Draft"><i class="fa fa-user"></i> SAVE A DRAFT</button>
                                </div>
                                <div class="col-lg-2 pull-right">
                                    <button class="btn btn-danger form-control" id="Inactive"><i class="fa fa-user"></i> DISCARD</button>
                                </div>
                                <input type="hidden" id="id_recipes" />
                            </div><!-- /.row -->
                        </form>
                    </div>
                </div>
            </div>
        </div>

@section Scripts{
<script src="~/Scripts/Recipes/Recipes.js"></script>

}