@{
    ViewBag.Title = "Index";
}

<div class="container">
        <div class="col-md-12" id="products">
            <h1 class="roundedbold yellow visible-xs">PRODUCTS</h1>
            <div class="col-md-4 col-sm-4" id="pulps">
                <img src="@Url.Content("~/Content/images/frootypulps.png")" class="img-responsive inactive" />
                <div class="row contentproduct" id="pulpscontent" style="display:none">
                    <div class="col-md-12 bg-dark">
                        <div class="col-sm-7">
                            <h1 class="pull-left"><span class="pink medium65">PUL</span><span class="pink Heavy85">PS</span><br /><span class="condensed57 green">UNSWEETENED & NATURAL</span></h1>
                            <div class="clear"></div>
@*                            <p>
                                <span><strong>SERVES:</strong> acai bowls, smoothies or juices</span>
                                <span><strong>INGREDIENTS:</strong> half of a banana, water and açai.</span>
                                <span><strong>AÇAI:</strong> Blend it for 2 minutes</span>
                                <span><strong>POPULAR TOPPINGS:</strong> banana, strawberry, honey, granola, grated coconut and gogi berries.</span>
                                
                            </p>*@
                            <p class="pink"><strong>UNSWEETENED</strong></p>
                            <p>
                                
                                The 100 gram <strong class="green">unsweetened</strong> pulps are the healthiest option out of the whole line of products. It contains 0 sugar, and has 14% of raw organic acai. Super dark and pure, makes it one of the best in the market. Come in cases of 60 packets. 
                            </p>

                            <p class="pink"><strong>NATURAL</strong></p>
                            <p>
                             
                                The 200 gram pulps, like the buckets, are ideal for use at juice bars, smoothie bars and restaurants. Perfect for exact portion mea surements. Comes with the traditional recipe flavor ready to blend. Comes in cases of 50 packets. 

                            </p>
                            <p class="attention yellow">
                                All products, except for the <100 grams pulp>, have guarana mixed in its formula. Guarana is another high-energy berry, also contains caffeine. The mix of acai and guarana makes a perfect blend for an energy boost meal. It is recommended to have the bucket removed from the freezer 30 minutes prior to serving.
                            </p>
                        </div>
                        <div class="col-sm-5">
                            <h2 class="yellow">Nutrition Information*</h2>
                            <div class="clear"></div>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
                                    <tr>
                                    <td>&nbsp;</td>
                                    <td align="center">Natural</td>
                                    </tr>
                                    <tr>
                                    <td>Total Calories</td>
                                    <td align="center">62Kcal = 260KJ</td>
                                    </tr>
                                    <tr>
                                    <td>Carbohydrates</td>
                                    <td align="center">10,5g</td>
                                    </tr>
                                    <tr>
                                    <td>Protein</td>
                                    <td align="center">0,5g</td>
                                    </tr>
                                    <tr>
                                    <td>Total fat</td>
                                    <td align="center">2,5g</td>
                                    </tr>
                                    <tr>
                                    <td>Satured fat</td>
                                    <td align="center">0,5g</td>
                                    </tr>
                                    <tr>
                                    <td>Trans Fat</td>
                                    <td align="center">0g</td>
                                    </tr>
                                    <tr>
                                    <td>Fiber</td>
                                    <td align="center">1,0g</td>
                                    </tr>
                                    <tr>
                                    <td>Sodium</td>
                                    <td align="center">19,3mg</td>
                                    </tr>
                                </table>
                        </div><div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4" id="buckets">
                <img src="@Url.Content("~/Content/images/frootybuckets.png")" class="img-responsive " />
                <div class="row contentproduct" id="bucketscontent">
                    <div class="col-md-12 bg-dark">
                        <div class="col-sm-7">
                            <h1 class="pull-left"><span class="pink medium65">BUCK</span><span class="pink Heavy85">ETS</span><br /><span class="condensed57 green">GUARANÁ</span></h1>
                            <div class="clear"></div>
@*                            <p>
                                <span><strong>SERVES:</strong> acai bowls, smoothies or juices</span>
                                <span><strong>INGREDIENTS:</strong> half of a banana, water and açai.</span>
                                <span><strong>AÇAI:</strong> Blend it for 2 minutes</span>
                                <span><strong>POPULAR TOPPINGS:</strong> banana, strawberry, honey, granola, grated coconut and gogi berries.</span>
                                
                            </p>*@
                            <p>
                                
                                Frooty Acai sorbets, ideal for smoothie bars, restaurants or juice houses. Perfect for an easy dessert option where a blender is not needed, although it can be blended if chosen to. This is a very good cost beneficial product to use, due to its great packaging.‏
                                <strong class="green"> Available in 1.0kg, 3.6kg and 10.0 kg. </strong>
                            </p>
                            <p class="attention yellow">
                                All products, except for the <100 grams pulp>, have guarana mixed in its formula. Guarana is another high-energy berry, also contains caffeine. The mix of acai and guarana makes a perfect blend for an energy boost meal. It is recommended to have the bucket removed from the freezer 30 minutes prior to serving.
                            </p>
                        </div>
                        <div class="col-sm-5">
                            <h2 class="yellow">Nutrition Information*</h2>
                            <div class="clear"></div>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
                                    <tr>
                                    <td>&nbsp;</td>
                                    <td align="center">Natural</td>
                                    </tr>
                                    <tr>
                                    <td>Total Calories</td>
                                    <td align="center">62Kcal = 260KJ</td>
                                    </tr>
                                    <tr>
                                    <td>Carbohydrates</td>
                                    <td align="center">10,5g</td>
                                    </tr>
                                    <tr>
                                    <td>Protein</td>
                                    <td align="center">0,5g</td>
                                    </tr>
                                    <tr>
                                    <td>Total fat</td>
                                    <td align="center">2,5g</td>
                                    </tr>
                                    <tr>
                                    <td>Satured fat</td>
                                    <td align="center">0,5g</td>
                                    </tr>
                                    <tr>
                                    <td>Trans Fat</td>
                                    <td align="center">0g</td>
                                    </tr>
                                    <tr>
                                    <td>Fiber</td>
                                    <td align="center">1,0g</td>
                                    </tr>
                                    <tr>
                                    <td>Sodium</td>
                                    <td align="center">19,3mg</td>
                                    </tr>
                                </table>
                        </div><div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4" id="cups">
                <img src="@Url.Content("~/Content/images/frootycups.png")" class="img-responsive inactive" />
                <div class="row contentproduct" id="cupscontent" style="display:none">
                    <div class="col-md-12 bg-dark">
                        <div class="col-sm-7">
                            <h1 class="pull-left"><span class="pink medium65">CU</span><span class="pink Heavy85">PS</span><br /><span class="condensed57 green">BANANA & NATURAL</span></h1>
                            <div class="clear"></div>
                            @*<p>
                                <span><strong>SERVES:</strong> acai bowls, smoothies or juices</span>
                                <span><strong>INGREDIENTS:</strong> half of a banana, water and açai.</span>
                                <span><strong>AÇAI:</strong> Blend it for 2 minutes</span>
                                <span><strong>POPULAR TOPPINGS:</strong> banana, strawberry, honey, granola, grated coconut and gogi berries.</span>
                                
                            </p>*@
                            <p>
                                
                                The 200 gram acai cups are the most innovative packaging products out in the retail stores currently. These are ready to go bowl of acai with granola and spoon included in the package. Grab and go, perfect snack after any activity. Available in natural and banana flavor. 
                            </p>

                            
                            <p class="attention yellow">
                                All products, except for the <100 grams pulp>, have guarana mixed in its formula. Guarana is another high-energy berry, also contains caffeine. The mix of acai and guarana makes a perfect blend for an energy boost meal. It is recommended to have the bucket removed from the freezer 30 minutes prior to serving.
                            </p>
                        </div>
                        <div class="col-sm-5">
                            <h2 class="yellow">Nutrition Facts</h2>
                            <div class="clear"></div>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
                                    <tr>
                                    <td>&nbsp;</td>
                                    <td align="center">Natural %DN</td>
                                    </tr>
                                    <tr>
                                    <td>Total Calories</td>
                                    <td align="center">60Kcal = 260KJ</td>
                                    </tr>
                                    <tr>
                                    <td>Carbohydrates</td>
                                    <td align="center">10,5g</td>
                                    </tr>
                                    <tr>
                                    <td>Protein</td>
                                    <td align="center">0,5g</td>
                                    </tr>
                                    <tr>
                                    <td>Total fat</td>
                                    <td align="center">2,5g</td>
                                    </tr>
                                    <tr>
                                    <td>Satured fat</td>
                                    <td align="center">0,5g</td>
                                    </tr>
                                    <tr>
                                    <td>Trans Fat</td>
                                    <td align="center">0g</td>
                                    </tr>
                                    <tr>
                                    <td>Fiber</td>
                                    <td align="center">1,0g</td>
                                    </tr>
                                    <tr>
                                    <td>Sodium</td>
                                    <td align="center">19,3mg</td>
                                    </tr>
                                </table>
                        </div><div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div><div class="clearfix"></div>
</div>
<script>
    $("#cups img").click(function () {
        $('#products img').css({opacity:'0.7', width:'80%'});
        $(this).css({ opacity: '1', width: '100%' });
        $('#cupscontent, #bucketscontent, #pulpscontent').hide();
        $('#cupscontent').show();
        
    });

    $("#buckets img").click(function () {
        $('#products  img').css({ opacity: '0.7', width: '80%' });
        $(this).css({ opacity: '1', width: '100%' });
        $('#cupscontent, #bucketscontent, #pulpscontent').hide();
        $('#bucketscontent').show();
    });

    $("#pulps img").click(function () {
        $('#products  img').css({ opacity: '0.7', width: '80%' });
        $(this).css({ opacity: '1', width: '100%' });
        $('#cupscontent, #bucketscontent, #pulpscontent').hide();
        $('#pulpscontent').show();
    });


</script>