@{
    ViewBag.Title = "Error";
}
<div class="bs-example">
    <div class="alert alert-danger fade in" role="alert">
        <button type="button" class="close" onclick="$('.alert').hide('slow');" ><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4>Oh snap! You got an error!</h4>
        <p id="Pmsg"></p>
    </div>
</div>