@{
    ViewBag.Title = "Success";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1><span class="pink medium65">CONGRATULATIONS!</span></h1>
        </div>
        <div class="col-sm-6 col-sm-offset-3">

            <div class="yellow text-shadow">
                <i class="glyphicon glyphicon-ok-circle icon-giant"></i>
                <h2>Thank you for your purchase.<br />
Your invoice will be processed through Paypal.</h2>
            </div>
        </div>
    </div>
</div>
