@{
    ViewBag.Title = "Index";
}
<div class="container contact">
<div class="row">
    <h1><span class="pink medium65">CON</span><span class="pink Heavy85">TACT</span></h1>
    <div class="col-sm-12" style="font-size: 16px;">
        <form class="form-group bgblack" action="@Url.Action("Send","Contact")">
            <h2 class="green">TALK TO US</h2>
            <div class="row">
                <div class="col-sm-6">
                    <label for="namecontact">Name</label>
                    <input id="namecontact_" name="namecontact" class="form-control" type="text" />
                </div>
                <div class="col-sm-6">
                    <label for="lastname">Last Name</label>
                    <input id="lastname_" name="lastname" class="form-control" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="emailcontact">E-mail</label>
                    <input id="emailcontact_" name="emailcontact" class="form-control" type="text" />
                </div>
                <div class="col-sm-6">
                    <label for="phone">Phone</label>
                    <input id="Phone" name="Phone" class="form-control" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" class="form-control" rows="18"></textarea>
                </div>
            </div>
            <div class="clear"></div>
            <span class="col-sm-12"><br />
                <input id="save" type="button" style="font-size: 16px;" value="SEND" class="btn btn-pink pull-right" />
            </span>
            <div class="clear"></div>
        </form>
    </div>
    @*<div class="col-sm-6 bgblack">
        <h2 class="green">VENUE</h2>
        <address>
            <strong>Frooty Açaí</strong><br>
            202 portland ave #3<br>
            Huntington Beach - CA - ZIPCODE 92648‏<br>
        </address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6641.011760141549!2d-117.99438930126816!3d33.66996292179896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd2149ec856817%3A0x98d133c49f417bf6!2s202+Portland+Cir%2C+Huntington+Beach%2C+CA+92648%2C+USA!5e0!3m2!1sen!2sbr!4v1412640153804" width="100%" height="450" frameborder="0" style="border:0"></iframe>
    </div>*@
    
</div>
</div>
<script src="~/Scripts/Contact/Contact.js"></script>
<script src="~/Scripts/Global.js"></script>
